#header-container {
    min-height: 50px;
    height: 10vh;
    background-color: #FFFFFF;
}

.logo-image {
    margin-left: 20px;
    min-height: 50px;
    height: 10vh;
}

.menu > a {
    display: inline-block;
}