#header-container {
    height: 80px;
    background-color: beige;
}

#header-container>div {
    height: 100%;
}

#logo-container a, #logo-container img {
    display: block;
    height: 100%;
}

.menu > a {
    display: inline-block;
}