#header-container {
    height: 5em;
    background-color: beige;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-link {
    width: 5vw;
}

.language-container {
    width: 20vw;
    display: flex;
    justify-content: center;
}