#body {
  padding: 1em;
}

.body-container {
  min-height: calc(100vh - 180px);
  padding: 10px 0;
}

#content-container {
  background-image: url("./assets/handmade-paper.png");
  background-color: #FFFFFF;
}